<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/tether/dist/js/tether.js"></script>
    <link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../app/scripts/app.js"></script>
    <script src="../common/interceptors/httpinterceptor.js"></script>
    <script src="loginCtrl.js"></script>
    <script src="AuthenticationService.js"></script>
</head>
<body ng-app="hn.physicianApp">
    <div class="col-md-6 col-md-offset-3" ng-controller="loginCtrl as vm">
        <div class="alert alert-info">
            Username: test<br />
            Password: test
        </div>
        <h2>Login</h2>
        <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
            <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" ng-model="vm.username" required />
                <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                    <div ng-message="required">Username is required</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" ng-model="vm.password" required />
                <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                    <div ng-message="required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
            </div>
            <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
        </form>
    </div>
</body>
</html>